<nav>
	<ul>
		<li>
			<%= link_to( "Home Page", "/index.html", class: "link" ) %>
			<%= link_to( "About Page", "/about.html", class: "link" ) %>
			<%= link_to( "New Layout", "/new.html", class: "link" ) %>
		</li>
	</ul>
</nav>