@import 'variables.css.scss';

// Global styles

body {
	background-color: $black;
}

h1, h2, h3, h4 {
	color: $white;
}

h5, h6, p, * {
	color: $lightpurple;
}

a {
	color: $green;
}

.new-layout {
	background: $purple;
	margin: 50px;
}