@import 'variables.css.scss';
@import 'mixins.css.scss';

// Navbar styles

ul {
	display: block;
	padding: 20px 10px;

	li {
		list-style-type: none;
		text-align: center;

		a {
			margin: 20px 10px;
		}
	}
}
